@media all and (max-width: 1000px) {
    .background {
        height:60%;
        width:120%;
        background-size: cover;
    }
    .background h3 {
        font-size: 35px;
    }
    .slogan {
        display: flex;
        height: 50vh;
    }
        
    .isislogan {
            width: 70%;
            margin: 40px auto;
    }
        
    .isislogan h5 {
            font-size: 15px;
    }
    .isislogan h5:hover {
        position: relative;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 600;
    }

    .isislogan h6 {
        font-size: 20px;
    }
    .bprofile {
        width: 120%;
    }
    img {
        width: 110px;
        height: 130px;
    }
    img:hover {
        width: 110px;
        height: 130px;
    }
    .profile .paragraph {
        font-size: 15px;
    }
    .btn {
        padding: 2px 2px;
        margin:1px;
        font-size: 15px;
    }
    .bprofile {
        height: 300px;
    }
    
    .bprofile:hover {
        height:580px;
    }
    .deskripsi{
        font-size: 12px;
    }
    footer {
        height:60px;
        width:120%;
    }
}

@media all and (max-width: 670px) {
    .background {
        height:60%;
        width:180%;
        background-size: cover;
    }
    .background h3 {
        font-size: 25px;
    }
    .slogan {
        display: flex;
        height: 50vh;
    }
        
    .isislogan {
        width: 70%;
        margin: 40px auto;
    }
        
    .isislogan h5 {
            font-size: 15px;
    }
    .isislogan h5:hover {
        position: relative;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 600;
    }

    .isislogan h6 {
        font-size: 20px;
    }
    .bprofile {
        width: 180%;
        height: 500px;
    }
    .bprofile:hover {
        height:700px;
    }
    .profile {
        float: left;
        width: 30%;
        padding-right: 25px;
    }

    footer {
        height:60px;
        width:180%;
        font-size: 15px;
    }
    
    footer li a {
        margin-right:2px;
        font-size: 10px;
    }
    .menu-icon {
        display:block !important;
    }
    .nav-bar {
        display: none;
    }
@media all and (max-width: 425px) {
        .background {
            height:60%;
            width:180%;
            background-size: cover;
        }
        .background h3 {
            font-size: 25px;
        }
        .slogan {
            display: flex;
            height: 50vh;
        }
            
        .isislogan {
            width: 70%;
            margin: 40px auto;
        }
            
        .isislogan h5 {
            font-size: 15px;
        }
        .isislogan h5:hover {
            position: relative;
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-weight: 600;
        }
    
        .isislogan h6 {
            font-size: 20px;
        }
        .bprofile {
            width: 180%;
            height: 700px;
        }
        .bprofile:hover {
            height:900px;
        }
        .profile {
            float: left;
            width: 45%;
            padding-right: 25px;
        }
    
        footer {
            height:60px;
            width:180%;
            font-size: 15px;
        }
        
        footer li a {
            margin-right:2px;
            font-size: 10px;
        }
        .menu-icon {
            display:block !important;
        }
        .nav-bar {
            display: none;
        }
    }
}