@media all and (max-width:1000px) {
    .background {
        height:60%;
        width:180%;
        background-size: cover;
    }
    .background h3 {
        font-size: 35px;
    }
    .slogan {
        display: flex;
        height: 50vh;
    }
        
    .isislogan {
        width: 70%;
        margin: 40px auto;
    }
        
    .isislogan h5 {
            font-size: 25px;
    }
    .isislogan h5:hover {
        position: relative;
        font-size: 30px;
        font-weight: 600;
    }

    .isislogan h6 {
        font-size: 25px;
    }
    .bprofile {
        width: 180%;
        height: 700px;
    }
    .bprofile:hover {
        height:1280px;
    }
    .profile {
        float: left;
        width: 30%;
        padding-right: 25px;
    }
    .profile .paragraph {
        font-size: 25px;
    }
    .deskripsi{
        font-size: 25px;
    }
    footer {
        height:90px;
        width:180%;
        font-size: 25px;
    }
    
    footer li a {
        margin-right:10px;
        font-size: 20px;
        padding:10px 5px 10px 5px;
    }
}

@media all and (max-width: 450px) {
        .background {
            height:60%;
            width:182%;
            background-size: cover;
        }
        .background h3 {
            font-size: 23px;
        }
        .slogan {
            display: flex;
            height: 50vh;
        }
        .isislogan {
            width: 70%;
            margin: 40px auto;
        }
            
        .isislogan h5 {
            font-size: 15px;
        }
        .isislogan h5:hover {
            position: relative;
            font-size: 20px;
            font-weight: 600;
        }
    
        .isislogan h6 {
            font-size: 20px;
        }
        .bprofile {
            width: 182%;
            height: 950px;
        }
        .bprofile:hover {
            height:2000px;
        }
        .profile {
            float: left;
            width: 45%;
        }
        .profile .paragraph {
            font-size: 21px;
        }
        .deskripsi{
            font-size: 20px;
        }
        footer {
            height:60px;
            width:181%;
            font-size: 12px;
        }
        footer li a {
            margin-right:5px;
            font-size: 10px;
            padding:10px 5px 10px 5px;
        }
        .menu-icon {
            display:block !important;
        }
        .nav-bar {
            display: none;
    }
}
