html, body {
  margin: 0;
  padding: 0;
  height:100%;
}

body {
    font-family: "Times New Roman", Times, serif;
}

li {
  list-style: none;
}

.container {
    margin: 0 auto;
}

header {
  background-color: rgba(119, 3, 165, 0.8);
  width:100%;
  position:fixed;
  top:0;
  z-index:10;
}

.title {
  color: transparent;
  font-family: 'Times New Roman';
  font-weight: normal;
  font-size:30px;
  float:left;
}

.title > h5 {
  color: #ffffff;
  margin: 20px 10px 10px 10px;
  text-shadow: 2px 2px 5px rgb(160, 255, 242);
}

.title > h5:nth-child(1) {
  -webkit-mask-image: linear-gradient(transparent 25%);
  mask-image: linear-gradient(transparent 60%);
  animation: animasi 8s infinite;
}

@keyframes animasi {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

.background {
    background-image: url(../view/background.jpg);
    height:100%;
    width:100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 180px 0px 180px 0px;
}

.background h3 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 25px;
    color:rgb(255, 255, 255);
}

.mainpage {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}
  
.mainpage:first-of-type {    
    animation: tampil 5s infinite;
}
  

  @keyframes tampil {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  

.nav-bar {
    float: right;
}
  
.nav-bar li {
    display: inline-block;
    margin-right:10px;
}
  
.nav-bar li a {
    display: inline-block;
    background-color:rgba(255, 255, 255, 0.199);
    transition:all 0.5s;
    padding: 15px 15px 15px 15px;
    color:rgb(255, 255, 255);
    position: relative;
    font-weight: bold;
}
  
.nav-bar li a:hover {
    background-color: rgba(207, 148, 148, 0.836);
    border: oldlace solid 1px;
}

a {
  text-decoration: none;
}
.menu-icon {
  color: white;
  float: right;
  padding: 30px 30px;
  display:  none !important;
}

.slogan {
  display: flex;
  height: 100vh;
}
  
.isislogan {
      position: relative;
      color: #000000;
      width: 100%;
      max-width: 900px;
      z-index: 1;
      margin: 80px auto;
      align-self: center;
      border-top: solid 1px;
      border-bottom: solid 1px;
      background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 227, 255), rgba(255,0,0,0));
  }
  
.isislogan h5 {
      position: relative;
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      letter-spacing: 10px;
      font-style: italic;
}
.isislogan h5:hover {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 10px;
  font-style: italic;
  text-shadow: 2px 15px 10px rgb(0, 0, 0);
}
    
.isislogan h6 {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 10px;
}
.isislogan:after {
      position: absolute;
      content: "”";
      color: rgb(0, 0, 0);
      font-size: 10rem;
      line-height: 0;
      bottom: -43px;
      right: 30px;
      
}
.isislogan:before {
    position: absolute;
    content: "”";
    color: rgb(0, 0, 0);
    font-size: 10rem;
    line-height: 0;
    top: 43px;
    left: 30px;  
}

.bprofile {
    height: 400px;
    padding-bottom: 80px;
    background-image: linear-gradient(to bottom,rgba(234, 0, 255, 0.253), rgba(255,0,0,0));
    text-align: center;
    transition: width 2s, height 4s;
}

.bprofile:hover {
  height:650px;
}

.heading {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000000;
  }
  
.heading h2 {
  color: rgb(0, 0, 0);
  animation: mymove 1s infinite;
}
@keyframes mymove {
  50% {color: rgb(190, 0, 165);}
}
.profile {
    float: left;
    width: 20%;
  }

.profile .paragraph {
  font-weight: 600;
  letter-spacing: 4px;
}
  
.profile-icon {
    position: relative;
  }
  
.deskripsi{
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #000000;
    border-left: rgba(183, 0, 255, 0.568) solid 5px;
    background-color: rgba(183, 0, 255, 0.082);
    padding: 20px 15px 20px 15px;
    margin: 15px;
    font-style: italic;
    letter-spacing: 2px;
    display: none;
    position: relative;
}

img {
  width: 180px;
	height: 200px;
	-webkit-border-radius: 100px;
	border-radius: 100px; 
}
img:hover {
  width: 180px;
	height: 200px;
	-webkit-border-radius: 100px;
  border-radius: 100px; 
  border: 10px solid rgb(204, 0, 255);
}

.show:hover + .deskripsi {
  display: block;
  animation: 1s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

.btn-wrapper {
  margin:0px;
}

.btn-wrapper p {
  margin:0px;
}

.GMail {
  background-color: #f10000;
}

.facebook {
  background-color: #3b5998;
}

.linkedin{
  background-color: #4c00ff;
}

.btn {
  padding: 2px 3px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 5px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 3px;
}

footer {
  background-color: rgba(75, 1, 104, 0.8);
  height:60px;
  width:100%;
  color:white;
}

.kiri  {
  float: left;
  margin-left: 20px;
}

.kanan {
  float: right;
}

footer li {
  display: inline-block;
}

footer li a {
  display: inline-block;
  margin-right:20px;
  background-color:rgba(174, 85, 201, 0.884);
  transition:all 0.5s;
  padding: 0px 15px 0px 15px;
  color:rgb(255, 255, 255);
  font-weight: bold;
}

footer li a:hover {
  background-color: rgba(207, 148, 148, 0.836);
  border: white solid 1px;
}